<header class="site-nav">
  <div class="nav-inner">
    <a class="nav-brand" href="/">
      <img src="/images/tom-logo.png" alt="Weaver's Town" />
      <span class="nav-brand-name">Weaver's Town</span>
    </a>
    <nav aria-label="Primary">
      <ul class="nav-links">
        <li><a href="/#the-thread">The Thread</a></li>
        <li><a href="/#weavers-way">Weaver's Way</a></li>
        <li><a href="/#the-book">The Book</a></li>
        <li><a href="/#cite">Cite</a></li>
      </ul>
    </nav>
    <a class="site-button site-button--filled" href="/book/toc/">Read the book</a>
  </div>
</header>
